/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: red;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: black;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
  margin-top: 7em;
  margin-bottom: 2em;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: white;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
/*
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
*/
  background: #333333;
    font-family: sans-serif;
}

.Content {
	background: white;
	margin-right: -137px;
	margin-left: -137px;
}

.cover-container {
  max-width: 70em;
  background-color: #333;
}

.logo{
    padding-top: 1em;
    padding-bottom: 2em;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 2em;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
.list{
    text-align: left;
}

/*
 * Footer
 */
.mastfoot {
    padding-top: 5px;
  background-color: white;    
  color: black;
}
.Content{
    margin-top: 0em;
    color: black;
    text-align: center;
    max-width: 50em;
    margin:auto;
}
.dates > li{
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 0.5em;
    text-align: left;
}
.Content > p{
    text-align: left;
}
.left{
    float: center;
}
.left > a{
    text-decoration: none;
    color: black;
}
#demo{
    text-align: center;
    font-size: 20px;
}
h1{
    font-family: sans-serif;
}
.innercover{
    margin-top: 3em;
}

.cover-heading{
    margin-bottom: 160px;
}

.lead{
    margin-bottom: 160px;
}
@media (max-width: 768px) {
    .cover-heading{
        margin-bottom: 25px;
    }
    .lead{
        margin-bottom: 30px;
        margin-top: 0px;
    }
    .innercover{
        margin-top: 0em;
        height: 100vh;
    }
}